.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

Thumbs.db
ehthumbs.db
Desktop.ini

*.swp
*.swo
*.tmp
*.bak
*~

.vscode/
.idea/

.bundle/
vendor/bundle/
pkg/
tmp/
log/
coverage/
.yardoc/
.byebug_history
